/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2015, 10:23:50 AM
    Author     : Student
*/
    header h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 3.75em;
    color: white;
} 
body {
    background: white;
    color: white;
}
header {
    float: left;
    margin: 0 0 20px 0;
    padding: 5px 0 0 0;
    width: 100%;
}
nav ul{
    list-style: none;
    padding: 10px 0;
    margin:  0 20px;
}

nav li {
    display: inline-block;
}

li a {
    text-decoration: none;
}

h2 {
    font-size: 1.75em;
    /************************************
    first is top second is left and right 3rd is botoom
*************************************/
    margin: -5px 0 0;
    font-weight: normal;
}
nav ul li a {
    padding: 10px 10px 0 10px;
    margin: 10px 0 0 0;
    text-align: center;
    
}

body {
  font-family: 'Cantarell', sans-serif;
}

#logo {
    /************************************
    this centers the header, outs in in the middle of the page
*************************************/

    text-align: center;
    margin:0;
    
}
/************************************
Colors
*************************************/

header {
    background-color: black;
}

nav a.selected {
    color: white;
}

li a {
    color:grey;
}
section p{
    color: black;
    font-size: 1.25em;
    padding: 20px 50px 0 50px;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 2em;
    color: black;
}

@media screen  and (min-width:180px) {
    nav ul li a {
        font-size: 2em;
    }
    img {
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
    }
}
section {
    font-family: 'Cantarell', sans-serif;
}
nav {
    text-align: center;
}
img {
  height: 300px;
  width: 449px;
  float: left;
  padding: 10px 30px 20px 30px;
  position: relative;
  display: block;
}
nav img{
    margin-left: 150px;
}
.enhance{
  color:black;
  font-size: 1.75em;
  text-align: center;
}
 nav a:hover{
    color: #aaaaaa
}
.upgrade{
    color:black;
    font-size: 2.75em;
    text-align: center;
    text-decoration: black;
}
p {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1.75em;
}
.demote{
    color:black;
    font-size: 1.50em;
    text-align: center;
    text-decoration: black;
}

.clean {
    font-size: 1em;
    color: black;
    text-align: center;
}
